'use strict';

var sinon = require('sinon'),
    sut = require('{filePath}');

describe('{testFilePath}', function(){

    before(function () {
    });
    
    after(function() {
    });
    
    it('{funName}', function() {
        {#arguments}
          {?value}
            var {name} = {value|s};
          {:else}
            var {name};
          {/value}
          
        {/arguments}

        {#callback}
            var {name} = sinon.stub();
        {/callback}

        var result = sut.{funName}({#arguments}{name}{@sep}, {/sep}{/arguments});
        
        {#return}
            sinon.assert.match(result, {return|s});
        {/return}

        {#callback}
            sinon.assert.calledWithMatch({name}, {#arguments}{.|s}{@sep}, {/sep}{/arguments});
        {/callback}
    });
    
})
